@import "tailwindcss";

:root {
  --font-primary: Inter, system-ui, sans-serif;
  --font-secondary: Newsreader, serif;
  --color-primary: #426b1f;
}

@layer components {
  .text-primary {
    color: var(--color-primary);
  }

  .font-body {
    font-family: var(--font-primary);
  }

  .font-heading {
    font-family: var(--font-secondary);
  }
}
